[2014-05-01 23:18] bahlo opened #8 "pjax support"
When you change tabs on a user-page, it won't replace the standard contribution graph, because just the page-content is being replaced with [pjax](http://pjax.heroku.com).

We could listen to the `pjax:end`-Event ([more info](https://github.com/defunkt/jquery-pjax#events)), but this requires injecting the whole code, not just the `icRun`.

Any thoughts on this?

[2015-02-01 16:07] kxxoling opened #31 "Doesn't display as usual"
One of the blocks is cut by the edge:

![github](https://cloud.githubusercontent.com/assets/1227139/5992710/3eb9dd98-aa6f-11e4-857e-a025868bb664.png)

BTW: Newest Chrome on OS X 10.10.

[2015-02-01 16:18] jasonlong commented on #31
Yeah, this happens once in a while (see #27) and there's no good solution from what I can tell apart from making the graph much smaller.

[2015-02-01 16:18] #31 closed

[2015-06-12 10:43] wbolster opened #32 "tighten permissions for chrome extension"
currently the chrome extension ask for permission to read data on any website, instead of just github (like some other github chrome extensions do). this doesn't feel right, so please tighten the permissions.

[2015-06-12 11:25] jasonlong commented on #32
Unfortunately the current permissions are needed so that the extension can be used on Enterprise installations. See #16.

[2015-06-12 11:25] #32 closed

[2015-06-12 12:40] wbolster commented on #32
okay, that explains. would be nice if there was a better way. anyway, thanks for the explanation.

[2015-06-27 09:36] msoap opened #34 "Please add HiDPI-display support"

[2015-06-29 12:19] jasonlong commented on #34
The graphics here powered by the Obelisk.js library which doesn't include any HiDPI options (afaik). It probably doesn't make sense for it either since it is a pixel art library.

[2015-06-29 12:19] #34 closed

[2015-08-19 15:05] montogeek opened #35 "No working after clicking 'Repositories'"
Hi!
Nice extension, I like the visualization.

I found a bug, when you open your profile, then click on the 'Repositories' tab and then click in the 'Contributions' tab the extension doesn't initialize.

[2015-08-19 18:53] jasonlong commented on #35
Thanks @montogeek. This is a known issue unfortunately. I looked into it a while back and wasn't able to make the extension re-initialize in this scenario due to how those tabs load via pjax calls.

I'm going to close this for now, but would love to learn that this is actually possible.

[2015-08-19 18:53] #35 closed

[2015-08-19 19:20] montogeek commented on #35
Thanks @jasonlong I will take a look how we can do this!

[2015-10-26 15:19] esbanarango commented on #8
:+1:

[2016-01-16 02:48] qianyanseu opened #39 "Any plan of gitlab support?"

[2016-01-16 14:47] jasonlong commented on #39
Nope, but feel free to fork this to try it out.

[2016-01-16 14:47] #39 closed

[2016-02-08 09:20] anton-johansson opened #40 "Tooltip won't automatically hide after clicking"
On the tab-buttons where you toggle between the normal chart and the isometric chart, the tool-tip seems to stay around after clicking, even if you move the cursor away. I have to click somewhere else to get rid of it.

[2016-02-10 16:31] #40 closed

[2016-04-01 16:51] doublerebel opened #42 "Request: Limit parsed websites to *.github.com and whitelist"
Thanks for this extension!

Any chance we can get the address matches limited to *.github.com and a whitelist of sites?  For my own security sanity and to reduce overhead while browsing the net.  I see this has been requested but I do not fully understand how the current resolution was reached over a whitelist.

[2016-04-01 18:25] jasonlong commented on #42
This has come up several times, but in order to allow the extension to work on GitHub Enterprise (which can be installed on any domain), this can't be done.

[2016-04-01 18:25] #42 closed

[2016-04-01 18:58] doublerebel commented on #42
OK I can use another solution.  For anyone else looking, there is [an open issue for Chromium to restrict individual extensions](https://code.google.com/p/chromium/issues/detail?id=155743&q=java%20whitelist&colspec=ID%20Pri%20Mstone%20ReleaseBlock%20OS%20Area%20Feature%20Status%20Owner%20Summary) and until then there is an [extension to enable/disable extensions](https://chrome.google.com/webstore

[2016-04-01 19:38] jasonlong commented on #42
Oh nice, thanks for those links @doublerebel. ✨

[2016-05-20 23:16] joshcoales opened #47 "Firefox version doesn't show streaks?"
It seems after the github change to remove streaks, the firefox version of this addon doesn't show streaks either?
![capture](https://cloud.githubusercontent.com/assets/2192223/15444487/3e9c76b4-1ee9-11e6-8582-363abfc750d9.PNG)

[2016-05-23 14:50] jasonlong commented on #47
Ooof, sorry about that @joshcoales. I made a recent round of changes that must have broken FF. I'll take a look shortly.

[2016-05-24 14:02] nicolo-ribaudo opened #48 "Chrome doesn't show longest streak's end"
![github-iso-contribs](https://cloud.githubusercontent.com/assets/7000710/15506660/bf46e8ee-21c8-11e6-8a37-6d4a05f683f0.jpeg)

[2016-05-24 17:09] jasonlong commented on #47
Working on this in #49.

[2016-05-24 17:10] jasonlong commented on #48
Thanks, I'll take a look.

[2016-05-24 21:29] #48 closed

[2016-05-24 21:34] jasonlong commented on #48
This is fixed in `1.0.10`.

[2016-05-25 02:27] EricFreeman opened #51 "Longest Streak days and count is broken."
I suspect this might be when the user has a streak longer than one year, but haven't confirmed this yet.  Personally, my streak is around 800 days now, but it shows as "null - null".

![rip streaks](https://cloud.githubusercontent.com/assets/4977850/15526242/a1c4d36a-21ed-11e6-96f1-924e47c5f5f9.PNG)

[2016-05-25 12:39] jasonlong commented on #51
I think this should be fixed with the latest version I posted yesterday (1.0.10). This is what I see on your profile:

![screen shot 2016-05-25 at 8 38 23 am](https://cloud.githubusercontent.com/assets/6104/15540212/2e3821d8-2254-11e6-835d-ba4e0c57d9a1.png)

I'm going to close this for now, but feel free to reopen if you're still seeing the problem.

[2016-05-25 12:39] #51 closed

[2016-05-25 16:21] EricFreeman commented on #51
It doesn't go back further than a year like the old GitHub streaks would, but I guess this will scratch the itch for now.  ;)

[2016-05-26 02:06] jasonlong commented on #51
Yeah, unfortunately the extension only has access to the data in the chart going back a year.

[2016-05-28 05:07] Crossroadsman opened #52 "longest streak < current streak in 1.0.10 (chrome Mac 51.0.2704.63 beta (64-bit))"
Right now the chart is showing a longest streak of 3 days (Jan 30–Feb 1) but a current streak of 112 days (Feb 6–May 27). I would expect the period covered by the current streak to count towards the longest streak and therefore longest streak should never be less than current streak.

![screenshot 2016-05-27 23 05 48](https://cloud.githubusercontent.com/assets/5407045/15625322/99ea8c10-245f-11e6-9

[2016-05-31 11:59] jasonlong commented on #52
I'm seeing 115 days for both of your streaks. If you're not seeing this, could you confirm that you have version 1.0.10 of the extension?

![screen shot 2016-05-31 at 7 58 07 am](https://cloud.githubusercontent.com/assets/6104/15673559/8eb3a2de-2705-11e6-90ad-be05820de706.png)

[2016-05-31 12:07] #47 closed

[2016-05-31 12:08] jasonlong commented on #47
The new `.xpi` file should fix this problem.

[2016-06-01 00:17] Crossroadsman commented on #52
Hi Jason,

Thanks for the response. I can confirm that according to the Chrome extensions menu, I am running 1.1.10. Please see attached.
![screenshot 2016-05-31 18 14 52](https://cloud.githubusercontent.com/assets/5407045/15694539/e45bb07c-275b-11e6-933b-5436913866e2.png)
![screenshot 2016-05-31 18 13 53](https://cloud.githubusercontent.com/assets/5407045/15694541/e8196f92-275b-11e6-9623-9021bcff

[2016-06-01 18:22] jasonlong commented on #52
Very strange. I now see 116 for both streaks. The only difference I can see visually is that you have a green square for the current day on both screenshots and I've only seen your profile w/o a contribution for the current day. I'll keep an eye on your profile and try to see if the problem happens if/when the current day goes green.

[2016-06-02 04:02] Crossroadsman commented on #52
Sounds good. Let me know if there's anything I can test on my end.

[2016-06-04 00:07] Crossroadsman commented on #52
Now I'm wondering if the weirdness is on Github's end rather than the extension. I'm looking at yesterday's activity and this is what I see (zero contributions per the graph, but 1 contribution in the text immediately below):
![screenshot 2016-06-03 18 03 09](https://cloud.githubusercontent.com/assets/5407045/15796110/cf71c050-29b5-11e6-89a3-e19b593ff5e0.png)

I see the same thing on Chrome and Sa

[2016-06-06 13:00] jasonlong commented on #52
Thanks for the extra info. I'm sort of at a loss for now, but let's keep an eye on it and see if any new clues emerge. Will leave this open for now.

[2016-06-06 18:55] Crossroadsman commented on #52
Sounds good.
Thanks

[2016-07-01 16:43] cheshire137 opened #53 "Limit Chrome permissions"
Could you limit the required Chrome permissions to only require access to github.com?

<img width="470" alt="screen shot 2016-07-01 at 11 42 44 am" src="https://cloud.githubusercontent.com/assets/82317/16528208/fa23ae36-3f80-11e6-97cc-2050559e0492.png">

[2016-07-02 18:12] jasonlong commented on #53
@cheshire137 Yeah, as we talked IRL, this was needed for supporting Enterprise. :(

[2016-07-02 18:12] #53 closed

[2016-07-20 06:37] prabhakar267 opened #54 "on hover show count of contributions"
When a user hovers on the base of a bar, he should see a tooltip or something to see number of contributions  like he sees in normal chart view

[2016-07-20 19:25] jasonlong commented on #54
This is intentionally not implemented because it would be impractical with so many columns being hidden behind others.

[2016-07-20 19:25] #54 closed

[2016-07-21 07:03] prabhakar267 commented on #54
So I think user should be given an option to rotate the whole graph so that he could see all the contributions!

[2016-07-21 14:23] jasonlong commented on #54
The chart isn't a true 3D model (it uses obelisk.js) and therefore can't be rotated.

From the README:

[2016-09-04 14:16] dgw commented on #51
I just installed the extension today, and I am seeing "0 days", "null – null" for my longest streak as well. Is this the same or a new issue?

Chrome 52 (currently bothering me to auto-update to 53), OS X 10.10.5

[2016-09-05 05:08] dgw commented on #51
Update: Worked after midnight until I added a contribution for the new day, then went back to displaying "null"s.

[2016-09-05 10:00] mkermani144 commented on #52
I have the same issue with Chrome version 49 on Ubuntu.

[2016-09-07 18:59] jasonlong commented on #51
There is some work going on with the contribution chart at GitHub, so I'm going to wait until things settle down before debugging much here.

[2016-09-14 21:31] AlexNisnevich opened #55 "No longer works after GitHub's profile page redesign today"

[2016-09-15 04:01] xwartz commented on #55
+1

[2016-09-15 07:32] mkermani144 commented on #55
:+1:

[2016-09-15 12:36] jasonlong commented on #55
Yeah sorry about that. I was hoping to have the extension updated and ready to go before we shipped the profile updates. I'll get to this soon.

[2016-09-17 19:01] nallwhy commented on #55
@jasonlong I created pull request for this problem.

[2016-09-19 13:52] jasonlong commented on #55
This is mostly fixed (chart doesn't yet update on switching years) by @nallwhy in #56. 🎉

[2016-09-19 13:52] #55 closed

[2016-09-19 13:53] jasonlong opened #57 "Isometric chart not available after changing years"
When selecting a different year in the sidebar, the isometric chart and the chart buttons disappear.

[2016-09-19 17:17] nallwhy opened #60 "Save 'show normal chart' state."
I think it's better to save 'show normal chart' state.
The normal chart always disappear when I change years.

[2016-09-19 17:21] nallwhy opened #61 "Isometric chart not available after changing menus"
When selecting a menu in the top(like Overview, Repositories..), the isometric chart and the chart buttons disappear.

[2016-09-20 18:50] jasonlong commented on #57
Closed with #59.

[2016-10-07 08:33] maasencioh commented on #52
Hello, for the user targos you can see also this issue, I'm currently using the version 1.0.12

![targos](https://cloud.githubusercontent.com/assets/7273940/19183585/4ee88c6c-8c79-11e6-8fe2-422a91c4553c.png)

[2016-10-07 13:42] jasonlong commented on #52
Thanks @maasencioh, I was finally able to :eyes: this bug in action.

[2016-10-07 13:43] #52 closed

[2016-10-30 15:11] Graystripe17 opened #63 "Additional Colors"
In addition to shades of green, would it be a good idea to have the option to display other colors?

[2016-10-30 16:15] TennyZhuang opened #64 "It seems not work on Safari"
![638a600a-640b-4b48-9492-2a1a9b2b47b9](https://cloud.githubusercontent.com/assets/9161438/19837917/ebfa67cc-9efe-11e6-870e-384dbb0332f6.png)

I install the safarixtz file and trust it, but it seems not work?

![0bb1c0f7-e31c-4aa9-b1ec-9caa10eb8f53](https://cloud.githubusercontent.com/assets/9161438/19837930/21d055b4-9eff-11e6-99c3-855378362f27.png)

[2016-10-31 00:31] jasonlong commented on #63
The colors are meant to align with the standard contribution chart greens. What other colors were you thinking?

[2016-10-31 03:15] Graystripe17 commented on #63
Maybe purple or yellow. I realize that's not the standard Github theme, so this idea does not have to be implemented.

[2016-10-31 03:23] Graystripe17 commented on #63
Actually you can close this issue it won't hurt my feelings. I'm new at contributing to other repositories.

[2016-10-31 12:59] jasonlong commented on #63
Yeah, I think it's best to stick with the standard green palette to avoid confusion.

On a related note, did you notice that we have our Halloween colors enabled today? 🎃 👻

![screen shot 2016-10-31 at 8 59 09 am](https://cloud.githubusercontent.com/assets/6104/19854967/4f755476-9f48-11e6-9548-db171249d1df.png)

[2016-10-31 12:59] #63 closed

[2016-10-31 13:20] jasonlong commented on #64
Apologies for this confusion. The current Safari version of the extension is very much out-of-date because you now need a paid Apple Developer account to build extensions. Since this is the only thing I'd use it for, I've decided not to spend the $99. I'll update the README with an explanation about this.

[2016-10-31 13:20] #64 closed

[2016-10-31 16:49] ApolloZhu opened #65 "Not showing correct color when Halloween"
I believe that it should either keeps normal (green) color, or be the same as the normal chart (orange) , but definitely not completely white.
![screen shot 2016-10-31 at 12 45 19](https://cloud.githubusercontent.com/assets/10842684/19862782/1350454e-9f68-11e6-8437-38d9062a2d7c.png)
![screen shot 2016-10-31 at 12 45 26](https://cloud.githubusercontent.com/assets/10842684/19862785/168be7fe-9f68-11e

[2016-10-31 18:53] #65 closed

[2016-10-31 18:56] jasonlong commented on #65
Thanks for the report!

[2016-11-01 01:47] TennyZhuang commented on #64
Can I build it for myself using the source code ?

On Mon, 31 Oct 2016 at 21:20 Jason Long <notifications@github.com> wrote:

[2016-11-01 14:12] jasonlong commented on #64
You can install the extension with Extension Builder (Safari > Develop > Extension Builder), but I think it'll only stay loaded for that Safari session. AFAIK, you still need the paid Apple Developer account to build the package so if you have one, you certainly can do so.

[2016-12-11 06:28] math2001 opened #67 "Don't load the extension on every pages"
Hello!

First, thanks for you extension, it's much better like this!

But, when I looked at the code, I've seen that you load it on **every page**, and because you use jquery, it's a pretty useless and heavy load. So I was wondering if you could remove it. 😃

Thanks again,
Matt

[2016-12-12 14:27] jasonlong commented on #67
To allow GitHub Enterprise users to use this plugin, I'm not able to restrict the domains that the plugin runs on (since it can be installed on any domain).

I would, however, like to remove the jquery dependency. That's on my list, so I'm going to close this for now. Feel free to reopen if you like.

[2016-12-12 14:27] #67 closed

[2016-12-12 17:28] oliver-newman opened #68 "Isometric chart not showing Sunday contributions"
The isometric chart is only showing 6 days per week of contributions (in particular, it's leaving out all Sundays); see attached screenshot.
![screen shot 2016-12-12 at 12 24 28 pm](https://cloud.githubusercontent.com/assets/15459200/21109236/1d16f98c-c066-11e6-98c8-35ace8c84753.JPG)

[2016-12-12 17:31] oliver-newman commented on #68
I'd be happy to look into this, though I haven't contributed to this project before and have very little prior experience with Chrome extensions, so I can't promise I'll be able to fix anything in a timely manner.

[2016-12-12 21:12] jasonlong commented on #68
Wow, I'm not sure how I broke that! I imagine it's an easy fix though. I'll take a look shortly, but if you beat me to it, that's cool too.

[2016-12-12 21:29] jasonlong commented on #68
I figured it out. It has to do with when we changed the size of the contribution squares a while back. I'll get a PR put together later today.

Thanks for reporting this!

[2016-12-13 02:42] #68 closed

[2016-12-13 16:20] jasonlong opened #70 "Gaps in the calendar"
With my #69 fixes, I apparently introduced gaps in the calendar. Will be investigating shortly.

<img width="710" alt="screen shot 2016-12-13 at 11 18 55 am" src="https://cloud.githubusercontent.com/assets/6104/21148414/27e95592-c126-11e6-9ca4-bfa337d12771.png">

[2016-12-13 16:27] oliver-newman commented on #68
No problem, thanks for fixing it!

[2016-12-28 12:47] akash-vartak opened #72 "Year start and end date"
I guess a modification can be made to consider the starting date of the year as 1st January and not the first box in the contributions table.. For example: If i click on 2015 the `1year` should be from 1st Jan to 31st Dec but for current year it can be 1st Jan to current.
Right now, if I click on 2015, I see contributions from `Dec 28th 2014` to `Dec 31st 2015`

[2016-12-29 15:55] jasonlong commented on #72
The 3d chart will always show exactly the same data as the 2d chart. This extension doesn't have access to any data other than what is shown on GitHub's chart. Those year links along the side are from the GitHub side and don't have anything to do with this extension.

[2016-12-29 15:55] #72 closed

[2017-02-10 07:10] electron0zero opened #73 "Distribute Signed Extension for Firefox"
The current extension is not signed and firefox complains about it.

so I went ahead and signed it for myself.

here is the process to sign
first clone the repo
`git clone https://github.com/jasonlong/isometric-contributions.git`
then do
`npm install --global web-ext`
[what is web-ext?](https://github.com/mozilla/web-ext)
[Web-ext docs](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web

[2017-02-10 15:27] jasonlong commented on #73
Thanks for this info @electron0zero. I'm not very familiar with Firefox's extensions and didn't realize the progress they'd made since last I looked.

I've gone ahead and started the process of uploading the extension to addons.mozilla.org (ran into an error that I emailed them about) and, if I understand right, they will sign the .xpi on their end. If so, I assume I don't need to bother with the

[2017-02-11 09:37] electron0zero commented on #73
@jasonlong I realised that during the process of signing it got uploaded to my account and it has a UUID of `isometric-contributions@jasonlong.me` so I deleted it now.

I think that error was due to that.
can you please retry with above-listed steps and check your email that you have used in firefox account that you used in generating keys for signing this add-on. you will have an email from `amo-

[2017-02-15 15:33] jasonlong commented on #73
Ok, finally got the problem worked out and got the add-on submitted for review.

[2017-02-15 15:40] electron0zero commented on #73
@jasonlong please update us with the link when gets approved.

Thanks for taking the time to look into it.

[2017-02-17 14:40] jasonlong commented on #73
Looks like Mozilla is getting through about 7 add-ons per day in their reviewing. At this rate, they should get to mine in about a month and a half. 😒

[2017-03-02 01:30] mrdulin opened #74 "why my color is not green ?"
Yesterday, my color is green. Today, it's not.

Is there something happened?

![image](https://cloud.githubusercontent.com/assets/17866683/23488957/b4b735e2-ff2a-11e6-9a3e-12cb54e1b842.png)

[2017-03-02 05:16] huozhi commented on #74
Seems that github's revision cause the problem.

[code]

The code above should be updated now.

[2017-03-02 05:19] mrdulin commented on #74
@huozhi Thanks. I guess the reason is github modify its theme.

[2017-03-02 13:05] jasonlong commented on #74
Sorry about this. I'll get the extension updated today.

[2017-03-02 16:53] #74 closed

[2017-03-03 01:49] huozhi commented on #74
@jasonlong fast responding! awesome. 👏

[2017-03-03 18:53] SCKelemen opened #76 "Interactive graph"
Is it possible to make the graph interactive? Maybe using D3.js?

[2017-03-03 19:15] jasonlong commented on #76
I want to keep it fairly lightweight so no plans on making it interactive at this time. Since taller bars hide shorter ones behind them, it would probably be a frustrating experience anyhow.

[2017-03-03 19:15] #76 closed

[2017-03-04 00:48] hereisnaman commented on #60
Yeah it will be really good to have that feature. Need to configure it with cookies.

[2017-03-05 14:20] davidgreens commented on #73
@davidgreens

[2017-03-15 17:28] #60 closed

[2017-04-12 18:28] jasonlong commented on #73
Ok, 2 months later and I'm about 60% of the way through the approval queue. Pretty absurd.

[2017-07-18 12:58] GeorgeWL opened #78 "Is there a way to Export the canvas object to use outside of Github?"
On my current site I'm using https://github.com/2016rshah/githubchart-api to load a almost-live version of my ghchart, and after using this I feel that having the same canvas element on my site would look a lot better.

[2017-07-18 13:43] jasonlong commented on #78
I was going to suggest just scraping that element from the DOM, but since it's generated from an extension that won't work. I can't think of anything automated that would work, but if anything comes to mind I'll post it here.

[2017-08-29 18:59] marsjaninzmarsa commented on #73
Any update?

[2017-08-29 19:45] jasonlong commented on #73
I gave up on their process. By the time they got around to reviewing, the extension was several versions behind and no longer worked with GitHub's DOM structure. If things improve on their end at some point, I may try again but I'm too frustrated right now.

[2017-08-29 19:45] #73 closed

[2017-10-07 09:17] talha131 opened #79 "Ballpark timeline to publish firefox addon at AMO?"
Thank you for this addon.

Do you have any timeline in mind by which you would publish this addon's Firefox version at AMO?

It is far simpler to install from AMO, even if its beta release, then to do

[2017-10-09 13:52] jasonlong commented on #78
Closing this for now, but will reopen if any ideas come to mind.

[2017-10-09 13:52] #78 closed

[2017-10-09 13:54] jasonlong commented on #79
I tried submitting to AMO a while back (see #73), but it was incredibly frustrating. I don't have any plans at this time to try again.

[2017-10-09 13:54] #79 closed

[2018-02-17 13:24] Pl4gue opened #81 "[FEATURE] Average Contributions"
Hey @jasonlong !

I really love your extension and want to give you a huge credit for coming up with and implementing this idea!

However, I recently thought that it would be really nice to see my average contributions per day.
What do you think about this? If possible, I would also like to work on this!

[2018-02-20 17:28] jasonlong commented on #81
@Pl4gue I'm not opposed to the idea, but I just want to make sure the amount of stats displayed doesn't get overwhelming.

I'd rather not add another full-sized stat block like the others. Maybe something more subtle like this?

![image](https://user-images.githubusercontent.com/6104/36438986-86def192-1639-11e8-8a54-34911b328d0a.png)

[2018-02-20 22:23] Pl4gue commented on #81
Yeah I absolutely agree with you @jasonlong 😄
Your idea sounds good 👍 So shall I try implementing it?

[2018-02-20 23:42] jasonlong commented on #81
Sure, give it a try!
On Tue, Feb 20, 2018 at 5:23 PM David Wu <notifications@github.com> wrote:

[2018-02-23 21:59] Pl4gue commented on #81
Alright 😃 Will be starting by the new week :)

[2018-02-23 22:00] Pl4gue commented on #81
Small question: How did you do this quick small visual mockup in your first comment? Just plain photo editing?

[2018-02-24 02:14] jasonlong commented on #81
Yeah just took a screenshot and played with it in Sketch.

On Fri, Feb 23, 2018 at 5:00 PM David Wu <notifications@github.com> wrote:

[2018-02-28 19:34] #81 closed

[2018-05-04 06:41] ljharb opened #85 "Streak is wrong"
On my profile, your extension reports my streak as 369 days. However, my correct streak (which the "Github Original Streak" chrome extension reports correctly) is 1478 days.

It'd be great if you showed the correct count :-)

[2018-05-04 22:19] jasonlong commented on #85
Yeah I wish I could get the full streak, but if it’s longer than a year the extension can’t see it. I only have access to the contributions on the page.

[2018-05-04 22:19] #85 closed

[2018-05-04 22:24] ljharb commented on #85
Then how can the other chrome extension see it? It’s clearly possible.

[2018-05-04 22:38] jasonlong commented on #85
It’s possible by paginating through previous years with additional requests. I’m not interested in this tbh and have considered removing streaks from the extension altogether.

[2018-05-04 22:40] ljharb commented on #85
Gotcha. That’s unfortunate, why?

[2018-05-08 12:54] jasonlong commented on #85
Basically for the same reasons we removed streaks on github.com. We don't want to encourage people to string together endless days of work as it's not a healthy behavior. Besides, it's an easy metric to game and ultimately doesn't mean much.

[2018-07-31 18:13] #8 closed

[2018-07-31 18:14] jasonlong commented on #61
Fixed in #86

[2018-07-31 18:14] #61 closed

[2018-07-31 18:15] bahlo commented on #8
🎉

[2018-08-25 13:41] d4nyll opened #88 "No longer able to toggle between normal and isometric charts"
With the introduction of the [Profile activity overview](https://blog.github.com/changelog/2018-08-24-profile-activity-overview/) feature from GitHub, I am no longer getting the toggle button to switch between the normal and isometric charts.

![screenshot from 2018-08-25 14-39-59](https://user-images.githubusercontent.com/9997953/44618789-cfc0ec80-a874-11e8-94f1-ef970e4d8f3c.png)

[2018-08-27 06:43] wuweiweiwu opened #89 "Update to be compatible with the new beta "Activity Overview""
<img width="657" alt="screen shot 2018-08-26 at 11 43 20 pm" src="https://user-images.githubusercontent.com/35270620/44644688-d9884400-a989-11e8-848d-3bef33688ec9.png">

[2018-08-27 14:45] jasonlong commented on #89
Fixed with #87

[2018-08-27 14:45] #89 closed

[2018-08-27 14:46] jasonlong commented on #88
Thanks for the report. I'll get this fixed up soon.

[2018-08-30 13:47] #88 closed

[2018-09-02 18:59] schwartzadev opened #91 ""{{n}} contributions" overlapping with chart"
## System Info

| Data                    | Key |
| ------------------ | ---------------------------------------------------------- |
| Google Chrome | 68.0.3440.106 (Official Build) (64-bit) (cohort: Stable)
| OS | Windows
JavaScript | V8 6.8.275.26

See the image below for the overlap.
![chrome_2018-09-02_12-54-57](https://user-images.githubusercontent.com/18607205/44959676-92c9ab00-aeaf-11e8-87

[2018-09-07 11:59] jasonlong commented on #91
Thanks for the report @schwartzadev. I'll take a look at this shortly.

[2018-09-16 21:47] #91 closed

[2018-09-17 17:19] JosephWeaver opened #93 "Please make the number of contributions, busiest day, and streak numbers BOLD again! :)"
Please make the number of contributions, busiest day, and streak numbers **BOLD** again! :)

It just looked so much better that way :)

[2018-09-18 03:20] hzb opened #95 "A bug in Chrome"
Chrome version:  69.0.3497.100 (Official Build) (64-bit)
Isometric-contributions: latest
Bug:

![screen-shot-2018-09-18-at-11 14 26-am](https://user-images.githubusercontent.com/535675/45662493-c0138b80-bb34-11e8-919f-45ce0bf0d102.jpg)

Six days a week?

[2018-09-18 11:35] jasonlong commented on #95
Yikes, thanks for that report. I hadn't even noticed that.

[2018-09-18 11:37] jasonlong commented on #93
As mentioned in #94, I'd like to keep the semi-bold for now.

[2018-09-18 11:37] #93 closed

[2018-09-18 15:06] hzb commented on #95
@jasonlong Welcome :)

[2018-09-18 17:56] beta commented on #95
In my situation the Sunday row is gone, and the bars are lower than other rows.

Chrome version: 69.0.3497.100 (Official Build) (64-bit)
System version: macOS High Sierra 10.13.1
Isometric Contributions version: 1.0.24

![image](https://user-images.githubusercontent.com/5000910/45706477-ee35b180-bbae-11e8-9c57-c0350f5b8da5.png)

[2018-10-17 22:03] #95 closed

[2018-11-29 13:06] samjudge opened #99 "Graph not rendered correctly 🐛"
When you visit a page with from/to query parameters set in the github url the isometric graph will be rendered weirdly (in this case, the url is https://github.com/samjudge?tab=overview&from=2018-11-01&to=2018-11-29)

![image](https://user-images.githubusercontent.com/6123140/49223576-1162b580-f3d7-11e8-8297-27558bebe8b6.png)

This is in Version 70.0.3538.110 of Chrome (Latest)

[2018-12-05 16:08] jasonlong commented on #99
Thanks for the report @samjudge. I'll check this out soon.

[2019-01-18 19:21] guneyozsan opened #100 "Doesn't work on Firefox until disable/enable plugin action for every page load or reload"
On Firefox the plugin works only after clicking disable/enable plugin for each page load. Reloading the same page or loading some other page reverts back to default Github view until another disable/enable plugin action. Firefox developer edition 65.0b12.

[2019-01-31 15:14] jasonlong commented on #100
Sorry, I haven't had a chance to dig into this yet. I believe FF has improved their add-on system recently so I'll try to revisit this soon.

PRs welcome if anyone else wants to check into it :)

[2019-03-12 20:13] #99 closed

[2019-03-17 23:59] RussKie opened #102 "Doesn't work if a tab selected"
The graph is not rendered in isometric projection if a specific project or a specific year are selected

Default:
![image](https://user-images.githubusercontent.com/4403806/54500016-88af5b80-496c-11e9-91b8-c0a83c530818.png)

Selected year:
![image](https://user-images.githubusercontent.com/4403806/54500021-9f55b280-496c-11e9-8bc1-d4fdc50d16f0.png)

Selected an org:
![image](https://user-images.git

[2019-03-21 14:24] #100 closed

[2019-03-22 08:15] guneyozsan commented on #102
Isometric view of the selection re-appears if the page is reloaded after making a selection.

[2019-03-22 08:20] guneyozsan commented on #100
I can confirm it this fixes for me as well. Thanks @kiendang .

[2019-03-22 16:23] kiendang commented on #100
Happy to help ❤️

[2019-03-26 07:13] RussKie commented on #102
It works after a refresh, thank you.

[2019-04-02 12:37] GinoPane commented on #102
Why this was closed? If you need to refresh the page it does not mean that the isometric view works correctly, it means exactly the opposite.

[2019-04-02 12:50] guneyozsan commented on #102
@RussKie Agree that issue should stay open. Refresh is a UX hack, not an intended or expected functionality.

[2019-04-19 07:26] g1eny0ung opened #105 "Change the contributions' colors"
Hi @jasonlong , I made a chrome extension named [Github Colors Contributions](https://chrome.google.com/webstore/detail/nmlemiahmhcclpifhmpbjbikdgbndief).

It can change the contributions' colors as you like. Yesterday my friend recommended me the **isometric-contributions** chrome extension which you made. I found my extension can change the graph colors unexpectedly 😆. Our two extensions worked

[2019-04-23 13:45] #102 closed

[2020-01-19 08:15] #105 closed

[2020-03-05 11:34] Nikhil-Wagh opened #108 "Switching between views causes year list to move out of view"
When you switch between views (isometric and normal) the year list below it moves out of view. See the image below
<img width="559" alt="Screenshot 2020-03-05 at 5 00 57 PM" src="https://user-images.githubusercontent.com/20404093/75977856-49727580-5f03-11ea-8854-b9018a453aab.png">

[2020-03-07 10:11] PinkFlufflyLlama commented on #108
I'm experiencing that too on chrome. For me, the username under one's profile picture is also getting stretched vertically.

[2020-05-11 09:46] HWZen commented on #108
Not only the year list, but also your name, become so strange.
But back to normal after refrash.

* normal
![image](https://user-images.githubusercontent.com/46065109/81546621-366d9d00-93ad-11ea-8790-0060d207fba5.png)

* After click
![image](https://user-images.githubusercontent.com/46065109/81546748-65840e80-93ad-11ea-957b-f29561cc8e3a.png)

* After refresh
![image](https://user-images.githubuser

[2020-06-19 01:46] NdagiStanley commented on #108
Same for me.

That said, I really like the extension. Thank you @jasonlong for putting this out here.

[2020-06-20 19:23] dipunj commented on #108
Since github is updating it's frontend, so I guess a few things would break.

[2020-06-23 08:59] Fasani opened #110 "Colours are all wrong..."
It seems the isometric contributions plugin broke overnight... the colours are all wrong lol :-)

My goodness, what are these new colours?

Maybe you also want to add a 1px corner rounding to match the new style.

<img width="918" alt="Screenshot 2020-06-23 at 10 56 57" src="https://user-images.githubusercontent.com/448410/85383528-582b7980-b540-11ea-99fd-e0b5b5d818ca.png">

[2020-06-23 14:45] jasonlong commented on #110
Oh I hadn't even noticed this color change yet. You must be in the feature preview for the new design updates. I'll get the extension updated shortly to honor the new github.com colors. Thanks for the heads-up.

[2020-06-23 14:46] jasonlong commented on #108
Sorry for not replying to this earlier. Thank you for the bug report. I'm going to make an update here soon to fix up a few problems.

[2020-06-23 16:23] Fasani commented on #110
Your welcome, I enjoy seeing all my contributions in glorious 3D!

[2020-06-24 00:57] Matt-Gleich commented on #110
I am doing this right now. Almost done

[2020-06-25 01:27] jasonlong commented on #110
Closed by #111 :sparkles:

[2020-06-25 01:39] #110 closed

[2020-06-25 11:05] Fasani commented on #105
@g1eny0ung I just tried your plugin as I think it is a nice idea but when both are installed it seems to break quite badly.

[2020-06-30 18:04] jasonlong commented on #108
Just an FYI that I have a branch locally where I've got this :bug: fixed along with some other updates. Should be ready in the next couple of days.

[2020-07-03 13:04] #108 closed

[2020-07-07 03:21] aviskarkc10 opened #115 "Display number of contributions when user hovers on a day"
The 2D version has the following feature when we hover on a day. It'd be good to be able to show something similar.

![image](https://user-images.githubusercontent.com/13309631/86700602-f7686a80-c030-11ea-9d75-cd093a36834a.png)

[2020-07-07 12:04] jasonlong commented on #115
I agree it would be nice, but it's not really feasible with this layout. See #54.

[2020-07-07 12:04] #115 closed

[2020-07-07 16:06] aviskarkc10 commented on #115
If you say so. Awesome extension btw :smile:

[2020-07-27 20:03] dephraiim opened #117 "How it works?"
Hello, I don't this is the right place to say this but I have no where else to go. I want to create an extension for twitter and I was wondering, how does it feed the page with the converted chart. How it makes it stay until you leave the page? An explanation would help. Thank You.

[2020-07-27 20:46] jasonlong commented on #117
@dephraiim When I was first learning about extensions, I followed a guide like this from Google: https://developer.chrome.com/extensions/getstarted

That should help you understand how things work.

[2020-07-27 20:46] #117 closed

[2020-09-15 21:01] jackiebrewster307 opened #123 "Jackiebrewster307@gmail.com"

[2020-09-15 21:01] jackiebrewster307 commented on #123
Jackiebrewster307@gmail.com

[2020-09-15 21:01] jackiebrewster307 commented on #123
Permission access

[2020-09-15 21:25] jasonlong commented on #123
I'm not sure what you're asking for?

[2020-09-16 11:53] #123 closed

[2020-10-03 17:44] REGATTE opened #125 "SAFARI"
This isn't available for safari. I would like to develop it for safari. Could you assign me to it.

[2020-10-03 18:23] REGATTE opened #127 "Hacktoberfest"
it would be great if you could the Hacktoberfest topic to the repo. It would help me out a lot.

[2020-10-05 12:22] jasonlong commented on #125
See #126

[2020-10-05 12:22] #125 closed

[2020-10-05 12:23] jasonlong commented on #127
See #126.

[2020-10-05 12:23] #127 closed

[2020-10-29 10:57] subnut opened #130 "Not rendering properly after recent firefox upgrade"
After the latest firefox update, the colors are no longer visible. It's a transparent 3d figure

See your own profile -
![](https://i.imgur.com/vAkkpQS.png)

Firefox version -
![image](https://user-images.githubusercontent.com/56714626/97559563-99a6c680-1a03-11eb-9264-0f5444560669.png)

[2020-10-29 12:06] jasonlong commented on #130
Thanks for the report @subnut. Something must have changed on the GitHub side here because the Chrome extension is also broken. I'll get this fixed ASAP.

[2020-10-29 12:41] #130 closed

[2020-10-29 12:42] jasonlong commented on #130
This has been fixed and updates (v 1.1.5) have been submitted to the Chrome and Mozilla stores.

[2020-10-29 12:45] jasonlong commented on #130
Both Chrome and Mozilla versions 1.1.5 are now available.

[2020-10-29 13:26] subnut commented on #130
:+1: Can confirm it works again. Thanks!

[2020-10-29 16:51] jimbrig opened #132 "embed in iframe?"
Is there a way that you know of to embed the isometric chart in an iframe on another website? Or, for example, your markdown GitHub Profile README?

[2020-10-30 11:59] jasonlong commented on #132
@jimbrig Good question and something I haven't thought about tbh. This would be possible to implement, but there's no way (that I know of) now to do so. I'll keep this open to think about a little bit.

[2020-10-31 06:27] subnut commented on #130
@jasonlong It broke again, most probably due to the color change to celebrate Halloween.

[2020-10-31 11:15] jasonlong commented on #130
@subnut I noticed this too - just pushed out an update.

[2020-11-03 21:11] jimbrig commented on #132
Found this today: https://dev.to/lowlighter/rendering-the-commit-calendar-in-isometric-view-2ccg

[2020-11-03 21:15] jasonlong commented on #132
Oh nice, that seems like it would do the trick. I'm going to close this out for now since there's a nice alternative solution.

[2020-11-03 21:15] #132 closed

[2020-11-05 05:46] jackiebrewster307 opened #135 "JVM(TM) Tool Interface 1.2.3"
https://docs.oracle.com/javase/8/docs/platform/jvmti/jvmti.html#bci

[2020-11-05 13:58] #135 closed

[2020-11-09 01:24] jehyunlee opened #136 "1 day loss @max. streak == 365"
A few days ago I've achieved 365 streaks.
Right on the next day, the streak was supposed to be 366, however it stayed as 365. On the very next day it became 366.

please check the screenshots from 7th to 9th Nov.

![1604884737724](https://user-images.githubusercontent.com/2725349/98490697-a209c780-2275-11eb-97bc-d5fc3ef77804.png)

![1604884748844](https://user-images.githubusercontent.com/2725349/

[2020-11-09 12:58] jasonlong commented on #136
The 3d graph is limited in the days it knows about by the regular 2d chart on the page. Since it never shows more than 1 year's worth of data, 365 days (+/- any days from partial weeks on the chart) is all it can display. This is a known limitation for the extension.

[2020-11-09 22:32] jehyunlee commented on #136
Thanks for your kind answer.
I appreciate your efforts to make a great extension. :)

[2020-11-09 22:32] #136 closed

[2020-11-22 01:58] Akhilez commented on #78
It would be amazing to use this outside of GitHub. I'll try to tweak the code to get it useable outside.

[2020-12-11 21:12] xie opened #141 "[Feature Request] Weekly total"
Would be nice to see a weekly sum of contributions.

<img width="765" alt="Screen Shot 2020-12-11 at 4 11 18 PM" src="https://user-images.githubusercontent.com/13720087/101955298-8e7eb300-3bcb-11eb-9166-f7631dcf4909.png">

[2020-12-12 15:41] #141 closed

[2021-02-04 12:21] jasonlong opened #147 "Graph doesn’t render"
GitHub pushed some markup changes last night that broke the extension. I'll be fixing this today.

[2021-02-04 18:55] #147 closed

[2021-02-04 19:00] jasonlong commented on #147
Version 1.1.10 has been tagged here and submitted to the Chrome and Mozilla stores. Should be available very :soon:.

[2021-02-04 21:15] jonrohan commented on #147
Keeping you on your toes 👋🏻

[2021-02-04 21:28] jasonlong commented on #147
![](https://i.imgflip.com/4wqe7n.jpg)

[2021-02-26 14:01] revolter commented on #57
This happens again, at least in Chrome.

[2021-03-07 15:55] jasonlong commented on #57
Sorry for the delay! I see this as well and will work on a fix soon. Thanks for the heads up.

[2021-03-08 12:23] PassionPenguin opened #151 "Bug/Feature Request: Add listener to tab changes"
options hid after changing years of contribution graph

maybe you can add a listener to these tabs lol :)

https://user-images.githubusercontent.com/41184947/110320986-0b46ef00-804c-11eb-9e3d-e93b034e642d.mov

[2021-03-08 12:35] PassionPenguin opened #153 "Feature: i18n"
maybe we can add translations to the string `Enable....`? for better user experience~

[2021-03-08 14:21] jasonlong commented on #151
This one is a duplicate of #57 which I just reopened since I broke the previous fix during a recent refactor. I'm going to close this one in favor of that for now.

[2021-03-08 14:21] #151 closed

[2021-03-08 14:45] jasonlong commented on #153
I'm not sure which `Enable...` string you mean? The only instance I found in the repo is for the browser permission popup and I don't have any control over that.

[2021-03-08 15:51] PassionPenguin commented on #153
<img width="398" alt="Screen Shot 2021-03-08 at 11 51 27 PM" src="https://user-images.githubusercontent.com/41184947/110345130-35f37080-8069-11eb-9439-e12438150465.png">

😄

[2021-03-08 16:49] jasonlong commented on #153
Yeah that's from this file (which I copied from somewhere else):
https://github.com/jasonlong/isometric-contributions/blob/main/src/webext-domain-permission-toggle.js

Feel free to add the necessary i18n changes to that file if you like.

[2021-03-08 17:49] PassionPenguin commented on #153
I have no idea on Chrome extension... I will try to make it..

[2021-03-25 19:17] Pixel48 opened #156 "[Bug] Isometric chart not available after changing `Activity in <project>`"
![issue](https://user-images.githubusercontent.com/42846410/112530718-110c3680-8da7-11eb-84e2-b8020bd8e1ad.gif)

[2021-03-25 20:28] jasonlong commented on #156
I have a feeling this is related to #57 which I have a fix coming for soon.

[2021-03-25 21:04] Pixel48 commented on #156
Good to know

[2021-03-25 21:04] Pixel48 commented on #156
#57

[2021-03-26 00:48] Snabilah43 commented on #156
UNCLE AKIFF

On Fri, 26 Mar 2021 at 05:04, Pixel48 ***@***.***> wrote:

[2021-04-05 17:43] jasonlong commented on #57
Fixed in #158

[2021-04-05 17:43] #57 closed

[2021-04-05 17:43] jasonlong commented on #156
Fixed in #158

[2021-04-05 17:43] #156 closed

[2021-04-12 19:20] kbrock opened #159 "use color to identify more information"
This is great

The location of the data tells us what day.
The columns adds what day of the week the activity occurred.

You added height to tell us how many commits were made.
This overlaps with the existing functionality of color to tell us how many commits.

Can we free up the color to tell us something else and not loose that opportunity?
There are a ton of possible other metrics to use here.

[2021-04-12 19:21] kbrock opened #160 "options to change colors"
Github changed the colors for halloween one year, it was a neat change.
Is it possible to give users the ability to customize the colors of this graph?

[2021-04-12 19:24] kbrock opened #161 "Business week streak"
To promote not working 24/7, is it possible to show a streak of work in terms of only working week days?

I guess different countries have different weekends. Not sure the best way to solve this problem. A grid of days of the week to count? This just made this simple feature request way too complicated.

If you can think of a simpler solution, then cool. Otherwise I guess just close this RFE

[2021-04-13 14:54] jasonlong commented on #159
Thanks for your interest in this project @kbrock. At this time, the extension is mostly in maintenance mode. Most activity now is to fix things when GitHub changes the markup and the scraping breaks. I don't have any current plans to add more features.

Making the blocks represent more information could be interesting, but would drastically change the complexity of this extension. It simply walks

[2021-04-13 14:54] #159 closed

[2021-04-13 14:57] jasonlong commented on #160
Actually, GitHub's graph changes to orange every Halloween automatically. This extension will render whatever colors GitHub shows. I don't see any benefit in allowing people to set their own colors as the intention is to match the 2d version.

[2021-04-13 14:57] #160 closed

[2021-04-13 15:00] jasonlong commented on #161
I have mixed feelings about showing the streak. When I was at GitHub, we had many discussions about this and we ultimately killed the streak from the standard graph. While I respect that this metric isn't important for everyone, many people have enjoyed having it as part of the extension. I don't have any plans to add various settings for how it's calculated.

[2021-04-13 15:00] #161 closed

[2021-04-14 21:39] kbrock commented on #159
Thanks for humoring me @jasonlong - very fun extension for sure.

[2021-07-02 15:07] parvg555 opened #168 "Streaks and contributions for current date not visible"
![github_isometric](https://user-images.githubusercontent.com/61341517/124294132-fcdd8f80-db74-11eb-839c-aaf6777524fa.JPG)

As you can see in the above image, whenever the option of current year is selected in the github timeline option. Current streaks and contributions for the current week are not shown. since the date is assumed to be 31st december for that year.

[2021-07-08 13:58] jasonlong commented on #168
Thanks for the report @parvg555. I'll try to get this fixed :soon:.

[2021-09-02 14:56] #168 closed

[2021-10-30 16:40] LangInteger opened #185 "Why the color changes?"
![image](https://user-images.githubusercontent.com/17768055/139541652-fbdc2994-73c3-4043-975d-9c5f5b1f747d.png)

I remember the picture once was mainly with green color. Why does it change to yellow?

[2021-10-30 18:40] shuuji3 commented on #185
Hi, this color change is GitHub's Halloween easter egg feature since today is Halloween day. 🎃🙂

You can see their "Happy Halloween" message when you changing to 2D mode:

<img width="721" alt="Screen Shot 2021-10-31 at 3 39 18" src="https://user-images.githubusercontent.com/1425259/139554888-1eeea146-fdc1-4076-ac1a-b95c90969339.png">

[2021-10-30 23:43] LangInteger commented on #185
Haha``thx @shuuji3

[2021-10-30 23:43] #185 closed

[2021-10-31 07:11] shuuji3 commented on #185
Welcome! 😄

[2021-11-12 10:45] Supercip971 opened #187 "The streak can't go above ~368/369"
Currently the "real" streak I have is 430 and the isometric-contributions don't go above 369.

But otherwise I would like to say that the extension is awesome!

[2021-11-12 14:48] #153 closed

[2021-11-12 14:49] jasonlong commented on #187
Yes, this is a limitation of the extension based since only uses the graph data visible on the page. https://github.com/jasonlong/isometric-contributions/issues/136#issuecomment-723996704

[2021-11-12 14:49] #187 closed

[2021-11-13 22:32] Supercip971 commented on #187
sorry :sweat_smile:

[2021-12-13 12:02] E011011101001 opened #191 "Why asking for permissions on all websites"
After the 1.1.16 update or the merge #190, the extension is now asking for permission to read and change all my data on all websites.
![Screen Shot](https://user-images.githubusercontent.com/50290471/145807783-65008e5e-59a8-4924-af98-cfd584e928b3.png)

Maybe it's a mistake on the manifest file? I don't understand why it needs so much permission.

[2021-12-13 12:30] ndom91 commented on #191
Yeah maybe limit the requested domains to just `*github*` or something like that. Its a bit unnerving to see a simple extension like this all of a sudden require such wide permissions..

https://github.com/jasonlong/isometric-contributions/blob/da8bc35d40ddfcd56eed7e96a6e2e5dce0f5ac37/src/manifest.json#L14

[2021-12-13 13:08] jasonlong commented on #191
This was not an intentional change. I recently updated the manifest to v3 per Chrome's requirements and must have done this part incorrectly. Thanks for letting me know. I'll get this fixed today.

[2021-12-13 14:09] #191 closed

[2021-12-13 14:09] jasonlong commented on #191
This _should_ be fixed in `1.1.17` 🤞🏼

[2022-01-18 04:14] Clayblockunova opened #193 "Microsoft Edge support"
Hello!
I'm Clayblockunova, a Microsoft Edge user. Migrating a Google Chrome extention to the new Microsoft Edge is not so hard. When will you do this?

[2022-01-18 15:07] jasonlong commented on #193
Since Edge runs on macOS I should be able to do this. Thanks for the nudge :thumbsup:

[2022-01-22 20:15] jasonlong commented on #193
I've submitted the extension the Microsoft and it's in review. Will follow up once approved.

[2022-01-25 13:35] jasonlong commented on #193
Now available: https://microsoftedge.microsoft.com/addons/detail/github-isometric-contribu/hcicbpfcbdpfgibhlbphodkcbojakpej

[2022-01-25 13:35] #193 closed

[2022-08-05 15:44] CODING-Enthusiast9857 opened #210 "404 site not found"
Your site is not available.

[2022-08-05 15:48] #210 closed